* {
    /* border: 1px solid aliceblue; */
}
html, 
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: hsl(261, 35%, 35%);
    color: aliceblue;
    display: flex;
    justify-content: center;
    padding: 5px;
}
#navBar {
    display:flex;
    padding: 1em 6.5em;
}
#logo,
.card-info {
    font-weight: 900;
    font-size: 30px;
}
#headerContainer { 
    background-color: #dca4cc;
    display: flex;
    justify-content: center;
    padding: 2em 2em;
    color: black;
    border-radius: 25%;
    height: 75%;
    width: 50%; 
    align-self: center;
}
#header-txt {
    height: 75%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    /* border: 2px solid black; */
    gap: 1.5em;
}
.header-image {
    border-radius: 15px;
    height: 60%;
    align-self: center ;
}
#header-txt,
.header-image {
    margin-left: auto;
}
#text {
    /* border: 1px solid blue; */
    align-self: flex-end;
}
.gallery {
    color: #dca4cc;
}

.gallery.animate__animated {
    /* width: 25%; */
    height: 100%;
    animation-duration: 2s;
}
.gallery.animate__fadeInLeftBig {
    animation-name: fadeInLeftBig;
}
.gallery.animate__animated2 {
    /* width: 25%; */
    height: 100%;
    animation-duration: 5s;
}


/* CARDS CONTAINER */

#messageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 2em;
}
.card-info,
.circleContainer {
    display: flex;
    text-align: center;
    flex-direction: column;
}
#cards {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.card-txt {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    color: aliceblue
}
#heart { 
    position: relative; 
    width: 100px; 
    height: 90px; 
} 

#heart:before, #heart:after { 
    position: absolute; 
    content: ""; 
    left: 50px; 
    top: 0; 
    width: 50px; 
    height: 80px; 
    background: red; 
    border-radius: 50px 50px 0 0; 
    transform: rotate(-45deg); 
    transform-origin: 0 100%; 
} 

#heart:after { 
    left: 0; 
    transform: rotate(45deg); 
    transform-origin :100% 100%; 
}

.heart.animate__animated {
    animation-duration: 1s;
  }

.heart.animate__bounce {
    animation-name: bounce;
}
