/* FOR HomePage / general */
* {
    /* border: 1px solid  white; */
}
body,
html {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    background: #D7C5DF;
    color: white;
}
/* SideBar ####################################################################### */
#main-sideBar {
    background-color: #61398F;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 8px;
    height: 2000px;
}
#indexBtn {
    font-size: 10px;
    align-self: flex-start;
    font-size: 12px;
    border-radius: 15px 10%;
}
.SB-intro {
    font-size: 30px;
}
#yearContainer {
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
}
.yearBtn,
.homePage,
#indexBtn {
    text-decoration: none;
    color: inherit;
}
.homePage:hover {
    color: rgb(152, 191, 228);
}
.yearBtn:hover {
    color: rgb(152, 191, 228);
}
.shadow-btn {
    border: 1px solid white;
    padding: 2.5px 7px;
    border-radius: 10px;
    color: black;
    /* background-color: #E9E4ED; */
    box-shadow: 0 10px 20px rgb(0, 0, 0);
}
.header-image{
    position: absolute;
    width: 90%;
    height: 100%;
}
#audio-container {
    text-align: center;
}

/* NAV BAR #######################################################################*/
#navBar {
    background-color: aliceblue;
    color: black;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .25em;
}


/* PAGE #######################################################################*/
#main-pageContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* border: 10px solid blue; */
}
#pageContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid red;
    padding: 5px;
    gap: 1px;
}

/* CARDS #######################################################################*/
.Card {
    display: flex;
    margin: 1.5em;
    background-color: black;
    font-size: 25px;
    border: 1px solid aliceblue;
    color: aliceblue;
    font-size: small;
}
.Card:hover {
    background-color: indigo;
    cursor: zoom-in;
}
 /* New code for naturesite cards */
.card-txt {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    color: rgb(4, 13, 21);
    text-align: center;
  }
.card-txt:hover {
    border: 1px solid black;
}
  #card,
  .card-image {
      height: 80px;
      width: 80px;
      border-radius: 15px 35px;
      box-shadow: 0 0 24px 1px black;
      /* border: 1px solid white */
  }
  .card-image {
    /* opacity: .50; */
    /* filter: invert(1); */
    mask-image: radial-gradient(circle, transparent 50%, black 100%);
  }
  .card-image:hover {
      border-radius: 35px 15px;
      box-shadow: 0 0 24px 1px #892CDC;
      mask-image: none;
  }
/* TV ####################################################################### */
#tv-container {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.antena {
    border: 1px solid black;
    display: flex;
    justify-content: center;
}
.tv-box {
    border: 1px solid green;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    
}
.tv-screen {
    border: 2pc solid black;
    width: 75%;
    height: 65%;
    background-color: rgb(23, 23, 23);
}
.tv-btn-container {
    border: 1px solid yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.tv-btns {
    background-color: rgb(120, 116, 109);
    color:black;
    font-weight: 900;
}
/* FOOTER #######################################################################*/
#footer {
    display:inline-block;
    flex-direction: column;
}

