/* FOR SIDEBARS */
* {
    /* border: 1px solid  black; */
}
body,
html {
    display: flex;
    height: 100%;
    gap: 1em;
    margin: 0;
}
#main-sideBar {
    background-color: #61398F;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 8px;
}
.SB-intro {
    font-size: 30px;
}
#yearContainer {
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
}
.yearBtn,
.homePage {
    text-decoration: none;
    color: inherit;
}
.yearBtn:hover {
    color: rgb(23, 98, 168);
}
